// Overide Default HTML
body {
    background-color: #fff;
}
a {
    cursor: pointer;
}

//BS Overide
.navbar {
    display: block;
    
    .navbar-links {
        display: block !important;
        float: right;
        width: fit-content;
    }

    .nav-item {
        float: left;
    }
    
    .nav-link {
        padding: 8px 8px;
    }
    
    ul.navbar-nav {
        float: right;
        display: block;
    }

}

// Helper Tags
.blockCenter {
    margin: 0 auto;
}

.container {
    padding: 20px 0;
}

//Custom Style
.formContainer {
    padding: 20px;
    background-color: #f3f3f3;
    max-width: 240px;
    width: 240px;
}
